@model IEnumerable<Kurs.Entities.Models.ogretmenler>

@{
    ViewBag.Title = "List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<p>
    @Html.ActionLink("Create Teacher", "Create", null, new { @class = "btn btn-success" })
</p>
<table class="table">
    <tr>
        <th>
            Öğretmen Adı
        </th>
        <th>
            Öğretmen Soyadı
        </th>
        <th>
            Kayıt Tarihi
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ogretmenAdi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ogretmenSoyadi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.kayitTarihi)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.ogretmenID }, new { @class = "btn btn-primary" })
                @Html.ActionLink("Details", "Details", new { id = item.ogretmenID }, new { @class = "btn btn-info" })
            </td>
        </tr>
    }

</table>
