@model List<Kurs.Entities.Models.ogrenciler>

@{
    ViewBag.Title = "List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<p>
    @Html.ActionLink("Create Student", "Create", null, new { @class = "btn btn-success" })
</p>
<table class="table">
    <tr>
        <th>
            Öğrenci Adı
        </th>
        <th>
            Öğrenci Soyadı
        </th>
        <th>
            Kayıt Tarihi
        </th>
        <th>
            E-posta
        </th>
        <th>
            Telefon No
        </th>
        <th>
            Doğum Tarihi
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ogrenciAdi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ogrenciSoyadi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.kayitTarihi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ogrenciEposta)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ogrenciTel)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.dogumTarihi)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.ogrenciID }, new { @class = "btn btn-primary" })
                @Html.ActionLink("Details", "Details", new { id = item.ogrenciID }, new { @class = "btn btn-info" })
            </td>
        </tr>
    }

</table>
