@model List<Kurs.Entities.Models.dersler>

@{
    ViewBag.Title = "List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>List</h2>

<p>
    @Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-success" })
</p>
<table class="table">
    <tr>
        <th>
            Ders Adı
        </th>
        <th>
            Ders Ücreti
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.dersAdi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ücret)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.dersID }, new { @class = "btn btn-primary" })
                @Html.ActionLink("Details", "Details", new { id = item.dersID }, new { @class = "btn btn-info" })

            </td>
        </tr>
    }

</table>
